@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
#app {
    /* background-color: #242424; */
    color: #fff0f0;

}

h1 {
    font-size: 30px;
}


body {
    background-color: #242424;
    font-family: 'Source Code Pro',sans-serif;
    font-size: 20px;
}

.xButton {
    font-weight: bold;
    background-color: #ff7675;
}

.pButton {
    font-weight: bold;
    background-color: #55efc4;
}

.createButton {
    background: linear-gradient(140deg, #fec9dc, #55efc4, #fec9dc);
}

.activeTaskButton {
    font-weight: bold;
    background: #81ecec;
}

.finishedTaskButton {
    font-weight: bold;
    background: #fab1a0;
}

input[type="text"], textarea::placeholder {
    background-color: #dfe6e9;
}

.navbar {
    background-color: #fd79a8;
    display: flex;
    justify-content: left;
    height: 25px;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}
